## PROJE
##### Konu: imdb veri setini pyspark ile analiz etmek.

In [1]:
import findspark 
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg
findspark.init()
findspark.find()

'/opt/conda/lib/python3.10/site-packages/pyspark'

In [2]:
csv_path = '/workspaces/codespaces-jupyter/data/movie_metadata.csv'
try:
    sc = SparkContext()
except ValueError:
    sc.stop()       #type:ignore
    sc = SparkContext()
finally:
    rdd = sc.textFile(csv_path)     #type:ignore
    
spark = SparkSession.builder.appName("Film Analizi").getOrCreate()
films_data = spark.read.options(header="true", inferSchema="true") \
             .csv(csv_path)

23/04/17 12:30:46 WARN Utils: Your hostname, codespaces-282530 resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
23/04/17 12:30:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/17 12:30:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
from pyspark.sql.functions import desc


films = films_data.filter(films_data.budget.isNotNull()).sort(desc('imdb_score'))
# datayı temizleyelim ve ardından sorularda işimizi kolaylaştırmak için bütün listeyi imdb puanına göre sıralayalım

#temizlemek istediğimiz data olursa göndermemiz için yazdık
def data_cleaning(data):
    data = data.filter(films.budget.isNotNull())
    return data

In [4]:
films.show(30) # yukarıda yaptığımız işlemi verimizin sadece ilk 30 satırında test edelim

23/04/17 12:31:28 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
+----------------+--------------------+----------------------+--------+-----------------------+----------------------+--------------------+----------------------+---------+--------------------+-------------------+--------------------+---------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+-----------+--------------+---------+----------+----------------------+----------+------------+--------------------+
|           color|       director_name|num_critic_for_reviews|duration|director_facebook_likes|actor_3_facebook_likes|        actor_2_name|actor_1_facebook_likes|    gross|              genres|       actor_1_name|         movie_title|num_voted_users|cast_total_facebook_likes|        actor_3_name|facenumber_in_poster|       plot_keywords|     movie_imdb_link|num_user_for_reviews|  language|    country|content_rating|   budget|title_year|actor_2_facebook_likes|imdb_score|aspect_ratio|movie_facebook_likes|
+----------------+--------------------+----------------------+--------+-----------------------+----------------------+--------------------+----------------------+---------+--------------------+-------------------+--------------------+---------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+-----------+--------------+---------+----------+----------------------+----------+------------+--------------------+
|           Color|      Frank Darabont|                   199|     142|                      0|                   461|      Jeffrey DeMunn|                 11000| 28341469|         Crime|Drama|     Morgan Freeman|The Shawshank Red...|        1689764|                    13495|          Bob Gunton|                   0|escape from priso...|http://www.imdb.c...|                4144|   English|        USA|             R| 25000000|      1994|                   745|       9.3|        1.85|              108000|
|           Color|Francis Ford Coppola|                   208|     175|                      0|                  3000|       Marlon Brando|                 14000|134821952|         Crime|Drama|          Al Pacino|      The Godfather |        1155770|                    28122|       Robert Duvall|                   1|crime family|mafi...|http://www.imdb.c...|                2238|   English|        USA|             R|  6000000|      1972|                 10000|       9.2|        1.85|               43000|
|            null|      John Stockwell|                     2|      90|                    134|                   354|          T.J. Storm|                260000|     null|              Action|       Matthew Ziff|Kickboxer: Vengea...|            246|                   261818|          Sam Medina|                   5|                null|http://www.imdb.c...|                   1|      null|        USA|          null| 17000000|      2016|                   454|       9.1|        null|                   0|
|           Color|Francis Ford Coppola|                   149|     220|                      0|                  3000|           Al Pacino|                 22000| 57300000|         Crime|Drama|     Robert De Niro|The Godfather: Pa...|         790926|                    39960|       Robert Duvall|                   1|1950s|corrupt pol...|http://www.imdb.c...|                 650|   English|        USA|             R| 13000000|      1974|                 14000|       9.0|        1.85|               14000|
|           Color|   Christopher Nolan|                   645|     152|                  22000|                 11000|        Heath Ledger|                 23000|533316061|Action|Crime|Dram...|     Christian Bale|    The Dark Knight |        1676169|                    57802|      Morgan Freeman|                   0|based on comic bo...|http://www.imdb.c...|                4667|   English|        USA|         PG-13|185000000|      2008|                 13000|       9.0|        2.35|               37000|
|           Color|       Peter Jackson|                   328|     192|                      0|                   416|          Billy Boyd|                  5000|377019252|Action|Adventure|...|      Orlando Bloom|The Lord of the R...|        1215718|                     6434|        Bernard Hill|                   2|battle|epic|king|...|http://www.imdb.c...|                3189|   English|        USA|         PG-13| 94000000|      2003|                   857|       8.9|        2.35|               16000|
|           Color|        Sergio Leone|                   181|     142|                      0|                    24|      Luigi Pistilli|                 16000|  6100000|             Western|     Clint Eastwood|The Good, the Bad...|         503509|                    16089|         Enzo Petito|                   3|civil war|hitman|...|http://www.imdb.c...|                 780|   Italian|      Italy|      Approved|  1200000|      1966|                    34|       8.9|        2.35|               20000|
|           Color|   Quentin Tarantino|                   215|     178|                  16000|                   857|         Eric Stoltz|                 13000|107930000|         Crime|Drama|       Bruce Willis|       Pulp Fiction |        1324680|                    16557|         Phil LaMarr|                   1|black comedy|cunn...|http://www.imdb.c...|                2195|   English|        USA|             R|  8000000|      1994|                   902|       8.9|        2.35|               45000|
| Black and White|        Sidney Lumet|                   177|      96|                      0|                   253|         Lee J. Cobb|                   359|     null|         Crime|Drama|        Jack Warden|       12 Angry Men |         447785|                     1433|        John Fiedler|                   1|courtroom|dialogu...|http://www.imdb.c...|                 888|   English|        USA|     Not Rated|   350000|      1957|                   259|       8.9|        1.66|               40000|
| Black and White|    Steven Spielberg|                   174|     185|                  14000|                   212|      Embeth Davidtz|                 14000| 96067179|Biography|Drama|H...|        Liam Neeson|   Schindler's List |         865020|                    15233|    Caroline Goodall|                   0|german|german sol...|http://www.imdb.c...|                1273|   English|        USA|             R| 22000000|      1993|                   795|       8.9|        1.85|               41000|
|           Color|       Peter Jackson|                   297|     171|                      0|                   857|       Orlando Bloom|                 16000|313837577|Action|Adventure|...|    Christopher Lee|The Lord of the R...|        1238746|                    22342|          Billy Boyd|                   2|elf|hobbit|middle...|http://www.imdb.c...|                5060|   English|New Zealand|         PG-13| 93000000|      2001|                  5000|       8.8|        2.35|               21000|
|           Color|   Christopher Nolan|                   642|     148|                  22000|                 23000|           Tom Hardy|                 29000|292568851|Action|Adventure|...|  Leonardo DiCaprio|          Inception |        1468200|                    81115|Joseph Gordon-Levitt|                   0|ambiguous ending|...|http://www.imdb.c...|                2803|   English|        USA|         PG-13|160000000|      2010|                 27000|       8.8|        2.35|              175000|
|           Color|       David Fincher|                   315|     151|                  21000|                   637|           Meat Loaf|                 11000| 37023395|               Drama|          Brad Pitt|         Fight Club |        1347461|                    13209|   Eugenie Bondurant|                   2|anti establishmen...|http://www.imdb.c...|                2968|   English|        USA|             R| 63000000|      1999|                   783|       8.8|        2.35|               48000|
| Black and White|     Robert Zemeckis|                   149|     142|                      0|                   194|Siobhan Fallon Hogan|                 15000|329691196|        Comedy|Drama|          Tom Hanks|       Forrest Gump |        1251222|                    15700|        Sam Anderson|                   0|amputee|love|viet...|http://www.imdb.c...|                1398|   English|        USA|         PG-13| 55000000|      1994|                   294|       8.8|        2.35|               59000|
|           Color|      Irvin Kershner|                   223|     127|                    883|                   441|         Kenny Baker|                 11000|290158751|Action|Adventure|...|      Harrison Ford|Star Wars: Episod...|         837759|                    12643|     Anthony Daniels|                   0|duel|famous twist...|http://www.imdb.c...|                 900|   English|        USA|            PG| 18000000|      1980|                   504|       8.8|        2.35|               17000|
|           Color|      Lana Wachowski|                   313|     136|                      0|                    99|        Marcus Chong|                 18000|171383253|       Action|Sci-Fi|       Keanu Reeves|         The Matrix |        1217752|                    18563|       Gloria Foster|                   3|artificial realit...|http://www.imdb.c...|                3646|   English|        USA|             R| 63000000|      1999|                   145|       8.7|        2.35|               25000|
|           Color|     Martin Scorsese|                   192|     146|                  17000|                   635|          Mike Starr|                 22000| 46836394|Biography|Crime|D...|     Robert De Niro|         Goodfellas |         728685|                    24783|        Paul Sorvino|                   3|betrayal|gangster...|http://www.imdb.c...|                 989|   English|        USA|             R| 25000000|      1990|                   854|       8.7|        1.85|               25000|
|           Color|        Milos Forman|                   149|     133|                    869|                   425|    Michael Berryman|                   888|112000000|               Drama|   Scatman Crothers|One Flew Over the...|         680041|                     2176|     Louise Fletcher|                   0|1960s|escape|ment...|http://www.imdb.c...|                 760|   English|        USA|             R|  4400000|      1975|                   721|       8.7|        1.85|               32000|
|           Color|        George Lucas|                   282|     125|                      0|                   504|       Peter Cushing|                 11000|460935665|Action|Adventure|...|      Harrison Ford|Star Wars: Episod...|         911097|                    13485|         Kenny Baker|                   1|death star|empire...|http://www.imdb.c...|                1470|   English|        USA|            PG| 11000000|      1977|                  1000|       8.7|        2.35|               33000|
|           Color|  Fernando Meirelles|                   214|     135|                    353|                    40|           Seu Jorge|                  1000|  7563397|         Crime|Drama|        Alice Braga|        City of God |         533200|                     1211| Alexandre Rodrigues|                   0|coming of age|mal...|http://www.imdb.c...|                 749|Portuguese|     Brazil|             R|  3300000|      2002|                    69|       8.7|        1.85|               28000|
|           Color|    Sadyk Sher-Niyaz|                    16|     135|                    135|                     0|   Aziz Muradillayev|                     0|     null|Action|Biography|...|    Elina Abai Kyzy|Queen of the Moun...|           3144|                        0|    Mirlan Abdulayev|                   1|19th century|cent...|http://www.imdb.c...|                  24|   English| Kyrgyzstan|         PG-13|  1400000|      2014|                     0|       8.7|        2.35|                   0|
|           Color|       Peter Jackson|                   294|     172|                      0|                   857|       Orlando Bloom|                 16000|340478898|Action|Adventure|...|    Christopher Lee|The Lord of the R...|        1100446|                    23052|          Billy Boyd|                   1|epic|evil wizard|...|http://www.imdb.c...|                2417|   English|        USA|         PG-13| 94000000|      2002|                  5000|       8.7|        2.35|               10000|
| Black and White|      Akira Kurosawa|                   153|     202|                      0|                     4|       Minoru Chiaki|                   304|   269061|Action|Adventure|...|    Takashi Shimura|      Seven Samurai |         229012|                      338|   Kamatari Fujiwara|                   6|16th century|batt...|http://www.imdb.c...|                 596|  Japanese|      Japan|       Unrated|  2000000|      1954|                     8|       8.7|        1.37|               11000|
|           Color|           Cary Bell|                  null|      78|                      0|                     0|        Stacie Evans|                     0|     null|         Documentary|      Abigail Evans|     Butterfly Girl |             27|                        0|        Emily Gorell|                   0|                null|http://www.imdb.c...|                   1|   English|        USA|          null|   180000|      2014|                     0|       8.7|        null|                  88|
|           Color|   Christopher Nolan|                   712|     169|                  22000|                  6000|       Anne Hathaway|                 11000|187991439|Adventure|Drama|S...|Matthew McConaughey|       Interstellar |         928227|                    31488|       Mackenzie Foy|                   1|black hole|father...|http://www.imdb.c...|                2725|   English|        USA|         PG-13|165000000|      2014|                 11000|       8.6|        2.35|              349000|
|           Color|    Steven Spielberg|                   219|     169|                  14000|                 13000|          Vin Diesel|                 15000|216119491|    Action|Drama|War|          Tom Hanks|Saving Private Ryan |         881236|                    44998|          Matt Damon|                   2|army|invasion|kil...|http://www.imdb.c...|                2277|   English|        USA|             R| 70000000|      1998|                 14000|       8.6|        1.85|               22000|
|           Color|       David Fincher|                   216|     127|                  21000|                   360|           Brad Pitt|                 11000|100125340|Crime|Drama|Myste...|     Morgan Freeman|              Se7en |        1023511|                    22678|       Reg E. Cathey|                   0|detective|police ...|http://www.imdb.c...|                1080|   English|        USA|             R| 33000000|      1995|                 11000|       8.6|        2.35|               39000|
|           Color|      Jonathan Demme|                   185|     138|                    438|                   173|         Scott Glenn|                 12000|130727000|Crime|Drama|Horro...|    Anthony Hopkins|The Silence of th...|         887467|                    13184|       Anthony Heald|                   0|case file|fbi age...|http://www.imdb.c...|                 916|   English|        USA|             R| 19000000|      1991|                   826|       8.6|        1.85|               40000|
|           Color|      Hayao Miyazaki|                   246|     125|                   6000|                     7|    Ryûnosuke Kamiki|                    17| 10049886|Adventure|Animati...|     Bunta Sugawara|      Spirited Away |         417971|                       44|          Miyu Irino|                   0|anime|bathhouse|p...|http://www.imdb.c...|                 902|  Japanese|      Japan|            PG| 19000000|      2001|                    10|       8.6|        1.85|               28000|
| Black and White|           Tony Kaye|                   162|     101|                    194|                   602|    Beverly D'Angelo|                  1000|  6712241|         Crime|Drama|       Ethan Suplee| American History X |         782437|                     3858|         Stacy Keach|                   2|curb stomping|neo...|http://www.imdb.c...|                1420|   English|        USA|             R|  7500000|      1998|                   816|       8.6|        1.85|               35000|
+----------------+--------------------+----------------------+--------+-----------------------+----------------------+--------------------+----------------------+---------+--------------------+-------------------+--------------------+---------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+-----------+--------------+---------+----------+----------------------+----------+------------+--------------------+
only showing top 30 rows

## <br>Analiz Soruları
<br>
<br>

1- Hangi ülkenin kaç tane filmi ilk 5 bin arasında yer alıyor?

In [6]:
# ülkeleri imdb puanlarına göre sıralayalım ve hangi ülkelerin ilk 5 bine girdiğini hesaplayalım
# sonra ülke bazında gruplama yapıp film sayılarını hesaplayalım
from pyspark.sql.functions import desc, count, col

top_5000_films = films.orderBy(desc("imdb_score")).limit(5000)

film_counts_by_country = (top_5000_films.groupBy("country")
                          .agg(count(col("*")).alias("film_count"))
                          .orderBy(desc("film_count"))
                          .show(30))

+--------------+----------+
|       country|film_count|
+--------------+----------+
|           USA|      3509|
|            UK|       379|
|        France|       130|
|        Canada|       109|
|       Germany|        90|
|     Australia|        50|
|         Spain|        27|
|         China|        23|
|         Italy|        20|
|         Japan|        20|
|         India|        19|
|     Hong Kong|        15|
|        Mexico|        14|
|   New Zealand|        13|
|   South Korea|        12|
|        Russia|        10|
|       Denmark|         9|
|  South Africa|         8|
|       Ireland|         8|
|        Norway|         8|
|        Brazil|         7|
|   Netherlands|         5|
|     Argentina|         4|
|       Romania|         4|
|          Iran|         4|
|      Thailand|         4|
|        Sweden|         3|
|        Israel|         3|
|Czech Republic|         3|
|   Switzerland|         3|
+--------------+----------+
only showing top 30 rows

2- Her ülkenin ortalama imdb puanı kaç?

In [7]:
from pyspark.sql.functions import avg,desc,round
imdb_country_avg = (films.groupBy("country")
                    .agg(round(avg("imdb_score"),1).alias("imdb ortalamasi"))
                    .orderBy(desc("imdb ortalamasi")).show(30,truncate=False))

+--------------------+---------------+
|country             |imdb ortalamasi|
+--------------------+---------------+
|Kyrgyzstan          |8.7            |
|Libya               |8.4            |
|United Arab Emirates|8.2            |
|Egypt               |8.1            |
|Soviet Union        |8.1            |
|West Germany        |7.9            |
|Iran                |7.7            |
|Indonesia           |7.6            |
|Argentina           |7.5            |
|Israel              |7.5            |
|Colombia            |7.5            |
|Sweden              |7.5            |
|Afghanistan         |7.4            |
|Brazil              |7.4            |
|New Zealand         |7.4            |
|Kenya               |7.4            |
|Denmark             |7.2            |
|Panama              |7.2            |
|Taiwan              |7.2            |
|Finland             |7.2            |
|Czech Republic      |7.0            |
|Pakistan            |7.0            |
|Ireland             |7.0            |
|Chile               |6.9            |
|Spain               |6.9            |
|Iceland             |6.9            |
|Dominican Republic  |6.9            |
|China               |6.9            |
|Netherlands         |6.9            |
|Japan               |6.8            |
+--------------------+---------------+
only showing top 30 rows

3- Her yönetmenin ortalama imdb puanı kaç?

In [8]:
director_groups = films.groupBy("director_name")

director_avg_scores = (director_groups
                       .agg(round(avg("imdb_score"),1)
                            .alias("avg_score")))
director_avg_scores_sorted = director_avg_scores.sort("avg_score", ascending=False).show(30,truncate=False)

+---------------------+---------+
|director_name        |avg_score|
+---------------------+---------+
|Cary Bell            |8.7      |
|Sadyk Sher-Niyaz     |8.7      |
|Mike Mayhall         |8.6      |
|Charles Chaplin      |8.6      |
|Sergio Leone         |8.5      |
|Majid Majidi         |8.5      |
|Ron Fricke           |8.5      |
|Damien Chazelle      |8.5      |
|Raja Menon           |8.5      |
|S.S. Rajamouli       |8.4      |
|Robert Mulligan      |8.4      |
|Christopher Nolan    |8.4      |
|Marius A. Markevicius|8.4      |
|Jay Oliva            |8.4      |
|Asghar Farhadi       |8.4      |
|Richard Marquand     |8.4      |
|Bill Melendez        |8.4      |
|Moustapha Akkad      |8.4      |
|Stanley Donen        |8.3      |
|Lee Unkrich          |8.3      |
|Lenny Abrahamson     |8.3      |
|John Sturges         |8.3      |
|Fritz Lang           |8.3      |
|Sut Jhally           |8.3      |
|Joe Kenemore         |8.2      |
|Rajkumar Hirani      |8.2      |
|Hayao Miyazaki       |8.2      |
|Joshua Oppenheimer   |8.2      |
|Amal Al-Agroobi      |8.2      |
|Frank Lotito         |8.2      |
+---------------------+---------+
only showing top 30 rows

4- En çok hangi türde film ilk 5000'de yer almıştır

In [9]:
# 1.Yol

from pyspark.sql.functions import desc

# Sütunları seç
movies = films.select("genres", "imdb_score")

# Sadece ilk 5000 filmden oluşan bir veri kümesi oluştur
movies = movies.orderBy(desc("imdb_score")).limit(5000)

# '|' karakteriyle ayrılmış türlerin listesini al
genres = movies.rdd.flatMap(lambda row: row[0].split("|"))

# Her türün sayısını say ve en yüksek olanı al
top_genre = genres.countByValue().items()
top_genre = sorted(top_genre, key=lambda x: x[1], reverse=True)[0][0]

# Cevabı yazdır
print("En çok {} türündeki filmler ilk 5 binde yer almaktadır.".format(top_genre))

En çok Drama türündeki filmler ilk 5 binde yer almaktadır.

In [10]:
# 2.Yol

from pyspark.sql.functions import desc, split

movies_filtered = films.filter(
    films.gross.isNotNull())

movies = movies_filtered.select("genres", "imdb_score")

top_movies = movies.orderBy(desc("imdb_score")).limit(5000)

top_genres = top_movies.select(
    split(top_movies.genres, "\|")
    .alias("genre")).selectExpr("explode(genre) as genre")

(top_genres.groupBy("genre")
 .count()
 .sort(desc("count"))
 .show(1, False))

+-----+-----+
|genre|count|
+-----+-----+
|Drama|1961 |
+-----+-----+
only showing top 1 row

In [11]:
# 3.Yol

from pyspark.sql.functions import explode, split

df_films = films.withColumn("genre", explode(split("genres","\|")))
category_count = (df_films
                  .withColumn("genre", 
                              explode(split("genres", "\|")))
                  .groupBy("genre").count())
category_count = category_count.sort("count",ascending=False)
category_count.show(30,truncate=False) # bizim ihtiyacımız olan en çok hangi tür olduğudur
                        # bu yüzden show içerisine kaç yazdığımızın bir önemi yok

+-----------+-----+
|genre      |count|
+-----------+-----+
|Drama      |6841 |
|Comedy     |4998 |
|Thriller   |4528 |
|Action     |4047 |
|Adventure  |3464 |
|Romance    |3218 |
|Crime      |2793 |
|Fantasy    |2241 |
|Sci-Fi     |2123 |
|Family     |2079 |
|Mystery    |1622 |
|Horror     |1474 |
|Animation  |1059 |
|Biography  |941  |
|War        |736  |
|History    |734  |
|Music      |613  |
|Musical    |507  |
|Sport      |506  |
|Western    |303  |
|Documentary|179  |
|Film-Noir  |18   |
|Short      |10   |
|News       |6    |
|Reality-TV |3    |
|Game-Show  |3    |
+-----------+-----+

5- En fazla bütçeye sahip olan filmler toplamda ne kadar hasılat elde etti? En fazla bütçeye sahip olan ilk 20 filmi karşılaştırın ortalama hasılatı yazdırın.

In [12]:
from pyspark.sql.functions import desc


budget_revenue = (films.select('budget', 'gross', 'movie_title')
                  .orderBy(desc('budget'))
                  .head(20))
budged_filtered_20 = films.select("movie_title","budget").orderBy("budget",ascending=False)

total_revenue = sum([film.gross for film in budget_revenue])

average_revenue = total_revenue/20

print("En yüksek bütçeye sahip olan ilk 20 film, toplamda {} hasılat elde etti. Ortalama hasılat ise {}.".format(total_revenue, average_revenue))
budged_filtered_20.show(30,truncate=False)

En yüksek bütçeye sahip olan ilk 20 film, toplamda 1535068309 hasılat elde etti. Ortalama hasılat ise 76753415.45.
+--------------------------------------------+-----------+
|movie_title                                 |budget     |
+--------------------------------------------+-----------+
|The Host                                    |12215500000|
|Lady Vengeance                              |4200000000 |
|Fateless                                    |2500000000 |
|Princess Mononoke                           |2400000000 |
|Steamboy                                    |2127519898 |
|Akira                                       |1100000000 |
|Godzilla 2000                               |1000000000 |
|Kabhi Alvida Naa Kehna                      |700000000  |
|Tango                                       |700000000  |
|Kites                                       |600000000  |
|Red Cliff                                   |553632000  |
|The Legend of Suriyothai                    |400000000  |
|The Messenger: The Story of Joan of Arc     |390000000  |
|Ong-bak 2                                   |300000000  |
|Pirates of the Caribbean: At World's End    |300000000  |
|John Carter                                 |263700000  |
|Tangled                                     |260000000  |
|Spider-Man 3                                |258000000  |
|Spider-Man 3                                |258000000  |
|Avengers: Age of Ultron                     |250000000  |
|Harry Potter and the Half-Blood Prince      |250000000  |
|Pirates of the Caribbean: On Stranger Tides |250000000  |
|Batman v Superman: Dawn of Justice          |250000000  |
|The Hobbit: The Battle of the Five Armies   |250000000  |
|The Dark Knight Rises                       |250000000  |
|Captain America: Civil War                  |250000000  |
|Spectre                                     |245000000  |
|Avatar                                      |237000000  |
|The Amazing Spider-Man                      |230000000  |
|Pirates of the Caribbean: Dead Man's Chest  |225000000  |
+--------------------------------------------+-----------+
only showing top 30 rows

6- En çok beğeni almış siyah beyaz filmlerin isimlerini, çıkış tarihlerini ve yönetmenlerini yazdırın.

In [13]:
blacknwhite_movies = (films.filter(films.color == " Black and White")
                         .select("movie_title", "title_year","director_name")
                         .orderBy(films.num_user_for_reviews.desc())) 
blacknwhite_movies.show(30,truncate=False)

+---------------------------------------------------------------------+----------+------------------+
|movie_title                                                          |title_year|director_name     |
+---------------------------------------------------------------------+----------+------------------+
|The Blair Witch Project                                              |1999      |Daniel Myrick     |
|Moulin Rouge!                                                        |2001      |Baz Luhrmann      |
|Casino Royale                                                        |2006      |Martin Campbell   |
|Casino Royale                                                        |2006      |Martin Campbell   |
|Kill Bill: Vol. 1                                                    |2003      |Quentin Tarantino |
|Memento                                                              |2000      |Christopher Nolan |
|The Phantom of the Opera                                             |2004      |Joel Schumacher   |
|Pearl Harbor                                                         |2001      |Michael Bay       |
|Sin City                                                             |2005      |Frank Miller      |
|Eragon                                                               |2006      |Stefen Fangmeier  |
|American History X                                                   |1998      |Tony Kaye         |
|Forrest Gump                                                         |1994      |Robert Zemeckis   |
|Amélie                                                               |2001      |Jean-Pierre Jeunet|
|Schindler's List                                                     |1993      |Steven Spielberg  |
|Die Another Day                                                      |2002      |Lee Tamahori      |
|Psycho                                                               |1960      |Alfred Hitchcock  |
|Chicago                                                              |2002      |Rob Marshall      |
|Kill Bill: Vol. 2                                                    |2004      |Quentin Tarantino |
|House of 1000 Corpses                                                |2003      |Rob Zombie        |
|Bowling for Columbine                                                |2002      |Michael Moore     |
|12 Angry Men                                                         |1957      |Sidney Lumet      |
|The Boondock Saints                                                  |1999      |Troy Duffy        |
|Hero                                                                 |2002      |Yimou Zhang       |
|Hero                                                                 |2002      |Yimou Zhang       |
|Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb |1964      |Stanley Kubrick   |
|The Aviator                                                          |2004      |Martin Scorsese   |
|The League of Extraordinary Gentlemen                                |2003      |Stephen Norrington|
|The Pianist                                                          |2002      |Roman Polanski    |
|Run Lola Run                                                         |1998      |Tom Tykwer        |
|Land of the Dead                                                     |2005      |George A. Romero  |
+---------------------------------------------------------------------+----------+------------------+
only showing top 30 rows

7- Drama, Comedy, Romance, War, Sci-Fi kategorilerinde filmleri seven bir kullanıcıya film önerisi yapın.

In [14]:
from pyspark.sql.functions import col

# kullanıcın istediğ kategorileri bir dizi haline getirelim ki sonradan değiştirmemiz kolay olsun
selected_genres = ["Drama", "Comedy", "Romance", "War", "Sci-Fi"]

selected_movies = films.filter(col("genres").isin(selected_genres))

# imdb_score sütununa göre sıralayalım
sorted_movies = selected_movies.orderBy(col("imdb_score").desc())

# En yüksek puan alan 10 filmi öneri olarak verelim
top_movies = sorted_movies.select("movie_title", "imdb_score").limit(10)

# Öneri listesini gösterelim
top_movies.show(30,truncate=False)

+---------------------------------------------------------------------+----------+
|movie_title                                                          |imdb_score|
+---------------------------------------------------------------------+----------+
|Fight Club                                                           |8.8       |
|One Flew Over the Cuckoo's Nest                                      |8.7       |
|Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb |8.5       |
|American Beauty                                                      |8.4       |
|Requiem for a Dream                                                  |8.4       |
|Room                                                                 |8.3       |
|Good Will Hunting                                                    |8.3       |
|The Hunt                                                             |8.3       |
|Trainspotting                                                        |8.2       |
|Gran Torino                                                          |8.2       |
+---------------------------------------------------------------------+----------+

8- Quentin Tarantino'nun ve en çok beğeni toplamış 5 filmini kategorileriyle, çıkış yılı ve isimleriyle birlikte yazdırın.

In [15]:
from pyspark.sql.functions import desc

tarantino_movies = films.filter(films.director_name == "Quentin Tarantino" ) 
sorted_movies = tarantino_movies.sort(desc("imdb_score"))

top_movies = sorted_movies.limit(5)
top_movies.select("genres", "title_year", "movie_title", "imdb_score").show(truncate=False)

+--------------------+----------+---------------------+----------+
|genres              |title_year|movie_title          |imdb_score|
+--------------------+----------+---------------------+----------+
|Crime|Drama         |1994      |Pulp Fiction         |8.9       |
|Drama|Western       |2012      |Django Unchained     |8.5       |
|Crime|Drama|Thriller|1992      |Reservoir Dogs       |8.4       |
|Adventure|Drama|War |2009      |Inglourious Basterds |8.3       |
|Action              |2003      |Kill Bill: Vol. 1    |8.1       |
+--------------------+----------+---------------------+----------+

9- Kullanıcının seçtiği (3)kategorileri bir sözlük yapısında tutun. Kullanıcıya bu sözlük yapısında bulunan kategorilerin her birinden 10 adet film önerisinde bulunun.

In [16]:
# Kullanıcının seçtiği kategorileri belirleyelim
kategoriler = ["Drama", "Comedy", "Romance"]

# Sözlük yapısı oluşturalım
kategoriler_dict = {}
for kategori in kategoriler:
    kategoriler_dict[kategori] = films.filter(films.genres.contains(kategori)).limit(10)

print("Drama kategorisindeki öneriler:")
kategoriler_dict["Drama"].select("movie_title", "genres").show(truncate=False)

print("Comedy kategorisindeki öneriler:")
kategoriler_dict["Comedy"].select("movie_title", "genres").show(truncate=False)

print("Romance kategorisindeki öneriler:")
kategoriler_dict["Romance"].select("movie_title", "genres").show(truncate=False)

Drama kategorisindeki öneriler:
+--------------------------------------------------+------------------------------+
|movie_title                                       |genres                        |
+--------------------------------------------------+------------------------------+
|The Shawshank Redemption                          |Crime|Drama                   |
|The Godfather                                     |Crime|Drama                   |
|The Dark Knight                                   |Action|Crime|Drama|Thriller   |
|The Godfather: Part II                            |Crime|Drama                   |
|The Lord of the Rings: The Return of the King     |Action|Adventure|Drama|Fantasy|
|Schindler's List                                  |Biography|Drama|History       |
|Pulp Fiction                                      |Crime|Drama                   |
|12 Angry Men                                      |Crime|Drama                   |
|Forrest Gump                                      |Comedy|Drama                  |
|The Lord of the Rings: The Fellowship of the Ring |Action|Adventure|Drama|Fantasy|
+--------------------------------------------------+------------------------------+

Comedy kategorisindeki öneriler:
+---------------------------------------------------------------------+-----------------------------------------+
|movie_title                                                          |genres                                   |
+---------------------------------------------------------------------+-----------------------------------------+
|Forrest Gump                                                         |Comedy|Drama                             |
|Modern Times                                                         |Comedy|Drama|Family                      |
|Back to the Future                                                   |Adventure|Comedy|Sci-Fi                  |
|Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb |Comedy                                   |
|Amélie                                                               |Comedy|Romance                           |
|A Charlie Brown Christmas                                            |Animation|Comedy|Family                  |
|Toy Story                                                            |Adventure|Animation|Comedy|Family|Fantasy|
|Toy Story 3                                                          |Adventure|Animation|Comedy|Family|Fantasy|
|Up                                                                   |Adventure|Animation|Comedy|Family        |
|The Sting                                                            |Comedy|Crime|Drama                       |
+---------------------------------------------------------------------+-----------------------------------------+

Romance kategorisindeki öneriler:
+--------------------------------------+----------------------------+
|movie_title                           |genres                      |
+--------------------------------------+----------------------------+
|It's a Wonderful Life                 |Drama|Family|Fantasy|Romance|
|Casablanca                            |Drama|Romance|War           |
|Gladiator                             |Action|Drama|Romance        |
|Amélie                                |Comedy|Romance              |
|Eternal Sunshine of the Spotless Mind |Drama|Fantasy|Romance|Sci-Fi|
|The Apartment                         |Comedy|Drama|Romance        |
|Some Like It Hot                      |Comedy|Music|Romance        |
|Singin' in the Rain                   |Comedy|Musical|Romance      |
|The Big Parade                        |Drama|Romance|War           |
|Lage Raho Munna Bhai                  |Comedy|Drama|Romance        |
+--------------------------------------+----------------------------+

10- Kullanıcının izlediği diğer filmlere dayanarak bir kullanıcı için film önerileri yapın. Kullanıcının izlediği filmler bir sözlük halinde bulunsun.

In [19]:
# Aşağıda yazmış olduğumuz kod, 
# kullanıcının izlediği filmlerin türlerine göre diğer filmleri filtreleyerek 
# ve toplam Facebook beğeni sayısına ve IMDB puanına göre sıralayarak, 
# kullanıcıya önerilerde bulunur. 
# Önerilen filmler recommended_movies listesi içinde depolanır 
# ve daha sonra döngü ile yazdırılır.

In [17]:
from pyspark.sql.functions import col

# kullanıcının izlediği filmler
user_watched_movies = {'Avatar ', 'The Dark Knight ', 'Inception ', 'The Matrix ', 'Interstellar '}

# kullanıcının izlediği filmler filtrelenir ve filmlerin türleri explode edelim
user_watched_movies_genres = films.filter(col('movie_title').isin(user_watched_movies)) \
    .select('movie_title', 'genres') \
    .withColumn('genres', explode(split(col('genres'), '\|'))) \
    .select('genres')

# kullanıcının izlediği filmlerin türlerine göre öneri filmler seçelim
recommended_movies = films.filter(col('genres').isin(user_watched_movies_genres.rdd.map(lambda x: x[0]).collect())) \
    .filter(~col('movie_title').isin(user_watched_movies)) \
    .groupBy('movie_title') \
    .agg({'movie_facebook_likes': 'sum', 'imdb_score': 'max'}) \
    .withColumnRenamed('sum(movie_facebook_likes)', 'total_facebook_likes') \
    .withColumnRenamed('max(imdb_score)', 'imdb_score') \
    .sort(col('total_facebook_likes').desc(), col('imdb_score').desc()) \
    .limit(10) \
    .select('movie_title', 'total_facebook_likes', 'imdb_score') \
    .collect()

# öneri filmleri yazdıralım
print("Recommended movies based on user's watched movies:")
for movie in recommended_movies:
    print(movie['movie_title'], '- Total Facebook likes:', movie['total_facebook_likes'], '- IMDB Score:', movie['imdb_score'])

Recommended movies based on user's watched movies:
Boyhood  - Total Facebook likes: 92000 - IMDB Score: 8.0
The Help  - Total Facebook likes: 75000 - IMDB Score: 8.1
Room  - Total Facebook likes: 72000 - IMDB Score: 8.3
The Hunt  - Total Facebook likes: 60000 - IMDB Score: 8.3
Fight Club  - Total Facebook likes: 48000 - IMDB Score: 8.8
Still Alice  - Total Facebook likes: 45000 - IMDB Score: 7.5
Requiem for a Dream  - Total Facebook likes: 38000 - IMDB Score: 8.4
Blue Jasmine  - Total Facebook likes: 36000 - IMDB Score: 7.3
One Flew Over the Cuckoo's Nest  - Total Facebook likes: 32000 - IMDB Score: 8.7
Good Will Hunting  - Total Facebook likes: 31000 - IMDB Score: 8.3